<!DOCTYPE html>
<html>
<body>
<%- include('head')%>
  <h1>Search for an artist</h1>
  <form action="get">
      <label for="name">Name</label>
      <input name="name" type="text" placeholder="name" class="form-control">
      <button type="submit" value="Submit artist" class= "btn_search">Search</button>
  </form>
  </div class="resuls">
  </div>
</body>
<%- include('javascripts')%>
</html>
