<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
  <h1>Search for an artist</h1>
  <form action="/search/results" method="GET">
      <label for="name">Name</label>
      <input name="name" type="text" placeholder="name" class="form-control">
      <button type="submit" value="Submit artist">Submit</button>
  </form>
<body>
</body>
</html>
